<section id="info-sidebar">
  <h2>Book Information</h2>
  
  <div id="book-scroller">
    <div class="left-scroll"></div>
    <div class="right-scroll"></div>
    <div class="book-list-wrapper">
      <div id="book-list"></div>
    </div>
  </div>
  
  <ul id="book-info"></div>
</section>