# Design folder
/design

# Ignore coverage reports
/coverage
/rails_best_practices_output.html

# Symlinks - shared uploaded data
/public/images/books

# Sensitive config files
/config/sensitive.yml

# Ignore backups
/backups
/db/data.yml
/db/data*.yml.bak

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Local config files
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore bundler stubs
/bundler_stubs