# Design folder
/design

# Symlinks - shared uploaded data
/public/images/books

# Sensitive config files
/config/database.yml
/config/settings.yml

# Ignore backups
/backups
/db/data.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Local config files
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3