<div class="indented">
  <p>Manasi Karthik works with Story Revolution and with children's libraries, writing reviews, holding events and trying to make books accessible and interesting. Story Hour is a project that stems from her love for reading and desire to reach good literature to children:</p>

  <p>"My focus through these sessions will be to convey a sense of delight in stories and illustrations, using them to help children relate to themselves as well as the world around them. I will attempt to do this by staying as closely as possible to the stories themselves, bringing in other book-related activities only where necessary."</p>

  <p>Story Hour is intended to be a regular event in Chennai, with a couple of story-telling sessions and other workshops every month. There will also be a selection of books from Story Revolution available for sale at these events.</p>
</div>