<div class="event">
  <p class="date">30 September 2012</p>
  <a href="/images/story_hour/chucaro-large.jpg" class="poster">
    <img src="/images/story_hour/chucaro-small.png" alt="Poster" />
  </a>
</div>