<div class="event">
  <p class="date">21 July 2012</p>
  <h2>Reading of the Gijjigadus and the Fireflies</h2>
  <a href="/images/story_hour/gijjigadus-large.jpg" class="poster">
    <img src="/images/story_hour/gijjigadus-small.jpg" alt="Poster" />
  </a>
</div>