<footer id="page-footer">
  
  <div class="container">
    <section id="contact">
      <h3>Get In Touch</h3>
      <p class="email obf">cont<span>to.prevent.spam</span>act@storyrev<span>no.spam.</span>olution.in</p>
      <p class="phone">08940886670 or 09900271565</p>
      <p class="facebook">Follow us on <a href="https://www.facebook.com/pages/Story-Revolution/199843171022/">facebook</a></p>
    </section>
      
    <section id="subscribe">
      <h3>Subscribe</h3>
      
      <p>Would you like to be notified when we get new books?</p>
      
      <%= form_tag subscribe_path, :method => :post, :id => "subscribe-form" do %>
      <div class="email">
        <input type="text" name="email" id="subscribe-email" placeholder="<%= subscription_placeholder %>" <%= subscription_class %>/>
        <% if flash[:subscribed] %>
          <img src="/images/ticked-button.png" alt="Subscribed" id="email-subscribed" />
        <% else %>
          <input type="image" src="/images/ok-button.png" alt="Ok"  id="subscribe-email-submit" />
        <% end %>
      </div>
      <% end %>
    </section>
  </div>
  
  <section id="credit">
    <p>Website by our little design firm <a href="http://kairi.in">kairi</a></p>
  </section>
  
</footer>