<header id="page-header">
  <div class="container">
    <hgroup>
      <h1>Story Revolution</h1>
      <h3>Hand-picked books for young people</h3>
    </hgroup>
    <nav class="navigation">
      <ul>
        <li class="store-link"><%= link_to "Bookstore", root_path %></li>
        <li class="about-link"><%= link_to "About Us", about_path %></li>
        <li class="help-link"><%= link_to "Help", help_path %></li>
      </ul>
      
      <%= link_to "Your Cart <span class=\"number\">#{order.number_of_items}</span>".html_safe, shopping_cart_path,
        :id => "shopping-cart-link",
        "data-show" => @show_shopping_cart
      %>
    </nav>
  </div>
  <div class="layer"></div>
</header>