<% case section
when "books-special" %>

  <h3>Why we think these books are special</h3>
  
  <p>These are books that reveal new things each time you read them...</p>

  <p>&hellip;books with stories that are compassionate, creative, sometimes original,
  sometimes age-old, and sometimes funny&hellip;</p>

  <p>&hellip;books with illustrations that are exquisite, whether stark, vibrant or
  intricate&hellip;</p>
  
  <p>&hellip;books that are cherished by children and adults alike.</p>

<% when "condition" %>
  
  <h3>Condition of used books</h3>
  
  <p>Content for condition</p>
  
<% when "ordering" %>
  
  <h3>Ordering</h3>
  
  <p>Content for ordering</p>
  
<% when "delivery" %>
  
  <h3>Delivery</h3>
  
  <p>Content for delivery</p>
  
<% when "payment" %>
  
  <h3>Payment</h3>
  
  <p>Content for payment</p>
  
<% when "story-revolution" %>
  
  <h3>Story Revolution</h3>
  
  <p>Content for story revolution</p>
  
<% end %>