<% case section
when "books-special" %>

  <h3>Why we think these books are special</h3>
  
  <p>Content explaining just why these books are so special</p>

<% when "condition" %>
  
  <h3>Condition of used books</h3>
  
  <p>Content for condition</p>
  
<% when "ordering" %>
  
  <h3>Ordering</h3>
  
  <p>Content for ordering</p>
  
<% when "delivery" %>
  
  <h3>Delivery</h3>
  
  <p>Content for delivery</p>
  
<% when "payment" %>
  
  <h3>Payment</h3>
  
  <p>Content for payment</p>
  
<% when "story-revolution" %>
  
  <h3>Story Revolution</h3>
  
  <p>Content for story revolution</p>
  
<% end %>