<p>We prefer payment by online bank transfer as it is the quickest, simplest option until we 
set up our own online payment gateway. We also accept payment by cheque or cash.</p>

<ul class="payment">
  <li>
    <%= f.radio_button(:payment_method, "1") %>
    <p><strong>Online bank transfer</strong></p>
    
    <p>Our bank account details are:</p>
    <p>SHALINI SEKHAR<br />
    Indian Overseas Bank Banashankari 2nd Stage, Bangalore<br />
    Account number: 129801000006584<br />
    IFSC Code: IOBA0001298<p>
    
    <p>Please email us the confirmation once you transfer funds. Do contact us
    if you need help, or more information.</p>
  </li>
  <li>
    <%= f.radio_button(:payment_method, "2") %>
    <p><strong>Cheque/Cash</strong></p>
    <p>Cheques should be addressed to Shalini Sekhar, <strong>NOT</strong> Story
    Revolution. Please post the cheque to the address below, with your name
    clearly written at the back.</p>
    
    <p>#93, 30th cross road<br />
    Banashankari 2nd stage<br />
    Bangalore - 560070</p>
    
    <p>Cash can be left at the pick-up point.</p>
  </li>
</ul>