<section class="story">
<h3>Story Revolution</h3>

<p>Story Revolution is a children's literature project. The project springs from
the feeling that literature with depth, vitality and a timeless quality must be
brought to children from the very beginning. We are excited about the
possibility of reading, as any other activity, being driven by love and wonder
instead of being drudgery, or converted into popcorn-like entertainment to be
consumed. </p>

<p>Most of all, for us, this project comes from our own love for the words,
illustrations and stories in these books and a desire to share them.</p>

<p>What we have right now is a specially curated selection of used and new books
for young people of all ages. At the moment we have no physical bookstore: we
sell these books online and sometimes hold book sales.</p>
</section>

<section class="what">
<h3>What we look for</h3>

<p>We look for books written and illustrated with a sense of joy and passion, and
  with an understanding of the mind of the child. These books open children's
  minds, nurturing curiosity, empathy, compassion and an understanding of
  themselves and of the world. They are books a child can love over and over
  again.</p>

<p>We look for excellence in writing and illustration, and tend to pick books
that have won international awards. These books are sometimes well-known
classics, but are often practically unknown here in India. </p>

<p>We have looked carefully and critically at books by Indian publishers as well
as publishers abroad. Our collection includes both, and we are always interested
in finding books that are from unusual contexts but have universal
relevance.</p>

<p>Adults usually enjoy these books as much as children.</p>
</section>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>


<section class="who">
<h3>Founders</h3>

<ul>
  <li>Angela Jain</li>
  <li>Shalini Sekhar</li>
</ul>

<p>Both Shalini and Angela have been involved in running and teaching at a small Krishnamurti-inspired school in Bangalore. Setting up the school library was where Story
Revolution began.</p>

<p>In addition to work with Story Revolution, Shalini is a communication designer. Angela is
interested in photography. Together with Aditya and Rahul, they also have a
little design studio <a href="http://www.kairi.in">www.kairi.in</a>. </p>

<h3>Team</h3>

<ul>
  <li>Aditya Pandya</li>
  <li>Manasi Karthik</li>
  <li>Rahul Sekhar</li>
</ul>

<p>Aditya is an artist and illustrator. He has been behind all of Story
Revolution's artwork from the very beginning, and is happy to do all kinds of
odd jobs for us when necessary.</p>

<p>Manasi has been helping us by curating and writing reviews to books.</p>

<p>Rahul is a web developer. He worked day and night developing this
website.</p>



<h3>Advisory Help</h3>

<ul>
  <li>Nithya Dorairaj</li>
  <li>Parveen Sikand</li>
  <li>Usha Mukunda</li>
</ul>


<p>Nithya Dorairaj has a background in law and works with a development NGO. With two children she is home-educating
and a love for these books herself, she has been a friend, bouncing board and resource person to Story Revolution.</p>

<p>Parveen Sikand, while she was volunteer-librarian at the Valley School, gave us the initial encouragement we needed.
We also look to her for book-talk and suggestions now. </p>

<p>Usha Mukunda has more than 25 years of experience in working with school
libraries and children's books. Apart from having fostered Angela's love for
these books as school librarian at the Centre for Learning, she helps us now in an
advisory role.</p>


</section>