
<%= render "filters" %>

<%= render "collections" %>

<!--[if lte IE 8]><p class="error">While this website is functional on Internet Explorer, it may not work optimally.
For free options, check out Firefox or Chrome.</p><![endif]-->

<p class="note">Welcome to our new website! We are still testing, so you may
  come across minor bugs. It would be great help if you reported these to us at
  <span class="email obf">contact<span>no.spam.</span>@storyrevolution.in</span>. Happy browsing!</p>

<section id="products">
  <%= render "store_products" %>
</section>