
<%= render "filters" %>

<%= render "collections" %>

<!--[if lte IE 8]><p class="error ie">While this website is functional on Internet Explorer, it may not work optimally.
For free options, check out Firefox or Chrome.</p><![endif]-->

<%= render "store_books" %>