
<%= render "filters" %>

<%= render "collections" %>

<!--[if lte IE 8]><p class="error ie">While this website is functional on Internet Explorer, it may not work optimally.
For free options, check out Firefox or Chrome.</p><![endif]-->
<p class="error closed">Story Revolution is closed for the moment. Do subscribe to our mailing list if you wish to receive updates.</p>

<%= render "store_books" %>