<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>You are now subscribed to updates from <a href="http://storyrevolution.in">story revolution</a>.</p>
  </body>
</html>