<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello,</p>

    <p>Thank you for subscribing for updates from Story Revolution.
    We promise we won't flood your mailbox, and you can unsubscribe any time.
    To unscubscribe now, please reply to this email with unsubscribe in the subject box.</p>

    <p>Happy book-browsing!</p>

    <p>Story Revolution.<br />
    (<a href="http://www.storyrevolution.in">www.storyrevolution.in</a>)</p>
  </body>
</html>