.book {
    #top-nav li {
        margin-right: e(10px);
    }
    
    #search-box {
        margin-left: e(120px);
    }
    
    // Input box widths
    input {
        width:e(188px, $input-font-size);
        
        &.submit {
            width:auto;
        }
    }
    
    #book_accession_id {
        width:e(98px, $input-font-size);
    }
    
    #book_year {
        width:e(48px, $input-font-size);
    }
    
    #book_age_from, #book_age_to {
        width:e(28px, $input-font-size);
    }
    
    #book_short_description {
        width:e(358px, $input-font-size);
        height:e(98px, $input-font-size);
        resize:vertical;
    }
    
    #book-fields {
        margin-top:e(-10px);
        position:relative;
    }
    
    $sidebar-width: 200px;
    $sidebar-hor-padding: 20px;
    #info-sidebar {
        position:absolute;
        right:0;
        top: 0;
        height:100%;
        background-color: #ccc;
        width: e($sidebar-width);
        padding: 0 e($sidebar-hor-padding);
        
        h2 {
            @include large-heading;
            color: $color-g1;
            text-align:center;
            margin: e(20px, $large-heading-size) 0;
        }
    }
    
    .google-link {
        @include small-text;
        margin-left: e(10px, $small-text-size);
        @include link;
    }
    
    // Cover image
    .blank-cover {
        width:100px;
        height:150px;
        background-color: $color-f2;
        
        a {
            width:100%;
            height:100%;
            display:block;
            border-bottom:none;
            position:relative;
            
            &:hover p {
                color: $color-e4;
            }
        }
        
        p {
            @include small-text;
            text-align:center;
            line-height:e(15px, $small-text-size);
            @include word-wrap;
            color: $color-g1;
            position:absolute;
            width:84px;
            left:8px;
            margin:0;
            overflow:hidden;
            
            &.title {
                top:15px;
                max-height:75px;
            }
            
            &.author {
                bottom:15px;
                max-height:30px;
            }
        }
    }
    
    .cover {
        max-width:100px;
        max-height:150px;
        border:2px solid $color-e1;
        @include rounded-corners(5px);
        float:right;
        margin-right: e(40px + $sidebar-width + (2 * $sidebar-hor-padding));
        position:relative;
        
        img {
            max-width:100px;
            max-height:150px;
            display:block;
        }
    }
    
    // Menu to edit the cover image
    #edit-cover-link {
        @include edit-button(30px);
        position:absolute;
        bottom:-30px;
        right:5px;
    }
    
    #edit-cover-list {
        display:none;
        position:absolute;
        right:5px;
        bottom:-30px - (21px * 3) - 4px;
        border:1px solid $color-e1;
        text-align:right;
        padding: 2px 2px;
        width: e(90px);
        background-color: $color-e2;
        
        li{
            @include small-text;
            text-transform:lowercase;
            line-height: e(20px, $small-text-size);
            border-bottom:1px dotted $color-e1;
            
            a {
                @include link-color;
                display:block;
                padding:0 4px;
                &:hover {
                    background-color:$color-e3;
                    color: $color-g1;
                }
            }
            
            &.disabled {
                a {
                    @include link($color-e1,$color-e1);
                    cursor:default;
                    &:hover {
                        background-color:transparent;
                    }
                }
            }
            
            &.last {
                border-bottom: none;
            }
        }
    }
    
    // Award fields
    #award-field-list {
        float:left;
        width: e(380px);
        
        input {
            float:none;
            width: e(28px, $input-font-size);
            height: e(20px, $input-font-size);
        }
        
        select {
            height: e(20px, $input-font-size);
        }
        
        .award-fields {
            float:left;
            clear:left;
            width: e(350px);
        }
        
        .remove-link {
            @include remove-button;
            float:right;
        }
        
        ul {
            width:100%;
        }
        
        li {
            padding: e(5px) 0;
            @include clearfix;
            border-top:1px dotted $color-e1;
            
            &:first-child, &.first {
                border-top:none;
            }
        }
    }
    
    #add-award-link {
        @include add-caption-button;
        margin-top: e(5px, $small-text-size);
    }
    
    // Description fields
    .descriptions label {
        margin-top: e(6px, $label-font-size);
    }
    
    #description-fields {
        float:left;
        max-width: 400px;
        input {
            background-color: $color-e1;
            font-weight:bold;
            width: e(360px, $input-font-size);
            height: e(40px, $input-font-size);
            border:none;
            @include rounded-corners(0);
            @include placeholder-color($color-e3);
        }
        
        textarea {
            padding: e(5px, $input-font-size);
            border:1px solid $color-e1;
            width:e(358px, $input-font-size);
            min-height:100px;
            height:100px;
            @include rounded-corners(0);
            resize: none;
        }
        
        .description-content-box {
            clear:left;
            position:relative;
        }
        
        .buttons {
            float:left;
            margin-left:-17px;
            width:17px;
            
            a {
                display:block;
                @include heading;
                text-align:center;
                @include rounded-corners-left(9px);
                padding-left:5px;
                margin-bottom:2px;
                height:18px;
                color: $color-g1;
                background-color: $color-e1;
                
                &:hover {background-color:darken(#ccc, 5);}
                &.selected {background-color:$color-c1;}
                &.selected:hover {background-color:$color-c1;}
                &.add {background-color:$color-a1;}
                &.add:hover {background-color:darken($color-a1, 5);}
            }
        }
    }
    
    // Buttons
    input.submit {
        float:right;
        margin-right: e($sidebar-width + (2 * $sidebar-hor-padding) + 30px, $button-size);
        margin-bottom: e(30px, $button-size);
    }
    
    .delete-book {
        float:right;
        margin-right: e(20px, $button-size);
        margin-left: e(-100px, $button-size);
    }
    
    // Image upload dialog
    .blockMsg {
        @include rounded-corners(10px);
    }
    
    #image-dialog {
        margin: e(10px);
        
        .error {
            @include error-text;
        }
        
        input {
            width:auto;
            height:auto;
            border:none;
            float:none;
        }
        
        .cancel {
            margin: e(20px, $minor-button-size) auto 0 auto;
        }
        
        p {
            margin-bottom: e(20px, $text-size);
        }
        
        #progress-bar {
            border:1px solid $color-e1;
            @include rounded-corners(5px);
            height:e(30px);
            position:relative;
            
            div {
                background-color: $color-d1;
                height: 100%;
                position:absolute;
                left:0;
                top:0;
                @include rounded-corners(5px);
            }
            
            span {
                @include text;
                line-height: e(30px, $text-size);
                position:relative;
                z-index:1;
            }
        }
    }
    
    .next-book.submit, .previous-book.submit {
        float:right;
        margin-right: e(20px, $button-size);
    }
    
    .next-book.button {
        float:right;
        margin-right: e(40px, $button-size);
    }
    
    .new-book.button, .previous-book.button {
        float:right;
        margin-right: e(20px, $button-size);
    }
    
    .new-copy-dialog {
        .minor-button {
            margin: e(20px, $minor-button-size) auto;
            float:none;
        }
        
        .acc {
            font-size: e(20px);
            margin: e(20px, $minor-button-size) 0;
        }
    }
    
    // Book information sidebar styling
    
    #info-sidebar {
        #book-scroller {
            position:relative;
            
            #book-list {
                min-height:75px;
                padding:5px 20px 5px 10px;
                
                .cover-thumb {
                    float:left;
                    margin-left: 10px;
                    border:2px solid transparent;
                    opacity:0.7;
                    overflow:hidden;
                    background-color: darken($color-e1, 5);
                    
                    &:hover {
                        border:2px solid darken($color-e1, 10);
                    }
                    
                    &.selected {
                        opacity:1;
                        border:2px solid darken($color-e1, 20);
                    }
                    
                    img {
                        display:block;
                    }
                }
            }
            
            .book-list-wrapper {
                overflow:hidden;
            }
            
            .left-scroll, .right-scroll {
                background-color:$color-e3;
                opacity:0.6;
                position:absolute;
                top:0;
                height:100%;
                width:20px;
                z-index:2;
                
                &:hover {
                    background-color: $color-e1;
                }
            }
            
            .left-scroll {
                left:0;
            }
            
            .right-scroll {
                right:0;
            }
        }
        
        .cover {
            margin:0 auto;
            float:none;
        }
        
        .use-link-wrapper {
            text-align:center;
        }
        
        #book-info {
            @include small-text;
            margin-top: e(30px, $small-text-size);
            @include word-wrap;
            
            li {
                margin-top: e(10px, $small-text-size);
            }
        }
    }
    
    .table-container {
        width: e(600px);
    }
    
    table {
        width: 100%;
    }
    
    // Stock taking page
    
    &.stock-taking {
        .table-container {
            width:98%;
            height: e(400px);
        }
        
        td {
            padding-top: e(5px, $small-text-size);
            padding-bottom: e(5px, $small-text-size);
            color: $light-text-color;
        }
        
        .stocked td {
            color: $text-color;
        }
        
        .acc {
            min-width: e(75px, $small-text-size);
        }
        
        .rating {
            min-width: e(80px, $small-text-size);
        }
        
        .price {
            min-width: e(40px, $small-text-size);
        }
    }
    
    .cancel.button {
        float:right;
        margin-right: 2%;
        margin-top: e(20px, $heading-size);
    }
}

