// Teal
$color-a1: #459aa2;
$color-a2: #64BAC4;     // Light
$color-a3: #326b71;     // Dark

// Yellow
$color-b1: #E7C35B;
$color-b2: #FDDF71;     // Slightly light
$color-b3: #F0F081;

// Brown
$color-c1: #B9603E;

// Purple
$color-d1: #B989AB;

// Gray
$color-e1: #ccc;
$color-e2: #efefef;     // Light
$color-e3: #999;        // Dark
$color-e4: #D2D2CB;     // Light

// Off gray [text]
$color-f1: #605C5A;
$color-f2: #979290;     // Light

// White
$color-g1: white;


// Book info colors
$book-info-color-1: $color-e2;
$book-info-color-2: $color-d1;