// Teal
$color-a1: #459aa2;
$color-a2: #64BAC4;     // Light
$color-a3: #326b71;     // Dark

// Yellow
$color-b1: #E7C35B;
$color-b2: #FDDF71;     // Slightly light

// Brown
$color-c1: #B9603E;

// Purple
$color-d1: #B989AB;

// Gray
$color-e1: #ccc;
$color-e2: #efefef;     // Light
$color-e3: #999;        // Dark

// Off gray [text]
$color-f1: #605C5A;
$color-f2: #979290;     // Light

// White
$color-g1: white;