/***************************
 ********* Layout **********
 ***************************/

body {
    font-size: $body-font-size;
    font-family: Arial, Helvetica, sans-serif;
}



$wrapper-width: 980px;
#wrapper {
    width: e($wrapper-width);
    margin: 0 auto;
    @include clearfix;
    min-height: 100%;
}

$side-nav-width: 210px;
#side-nav {
    float:left;
    width:e($side-nav-width);
    
    ul {
        margin: e(200px) e(30px) 0 e(20px);
        
        background-color: $color-a1;
        @include rounded-corners(10px);
        padding: e(20px) e(30px);
        
        li {
            @include heading;
            @include inner-link($color-b1, lighten($color-b1, 10));
            border-bottom:2px dotted $color-a2;
            margin-bottom:e(20px);
        }
    }
}

#top-nav {
    background-color: $color-d1;
    @include clearfix;
    padding:0 e(20px) 0 e(40px);
    margin-bottom: e(40px);
    
    li {
        float:left;
        @include heading;
        @include inner-link($color-g1, lighten($color-b2, 20));
        line-height:e(50px);
        margin-right:e(50px);
        
        &.descendant:before { content: '>'; }
        &.current {
            @include inner-link($color-b2, $color-b2);
        }
        &.right {
            float:right;
            margin-left:0;
            margin-right:e(10px);
        }
    }
}

$content-width: $wrapper-width - $side-nav-width - 30px;
#content {
    float:left;
    width: e($content-width);
    margin-left: e(10px);
    margin-top: e(50px);
}


/***************************
 ********* Styles **********
 ***************************/

p {
    @include text;
}

a {
    @include link-color;
}

$button-size: $heading-size;
a.button, input.submit {
    @include inline-block;
    @include heading;
    padding: 0 e(20px, $button-size);
    height: e(35px, $button-size);
    text-align:center;
    @include rounded-corners(8px);
    border:none;
    cursor:pointer;
    color:$color-g1;
    background-color: $color-c1;
    
    &:hover {background-color: lighten($color-c1, 10);}
}

a.button {
    line-height: e(35px, $button-size);
}

$minor-button-size: $text-size;
.minor-button {
    display:block;
    @include text;
    width: e(70px, $minor-button-size);
    height: e(25px, $minor-button-size);
    text-align:center;
    @include rounded-corners(8px);
    cursor:pointer;
    color:white;
    background-color: $color-e1;
    
    &:hover {background-color: $color-e3;}
}

a.minor-button {
    line-height: e(25px, $minor-button-size);
}

.token-input-list, input, textarea {
    @include rounded-corners(3px);
    border: 1px solid $field-border-color;
}

/* Flash messages */

.notice {
    margin-bottom: e(10px, $text-size);
    font-weight: bold;
}

/* Labels and inputs */

$label-font-size: $text-size;
label {
    @include text;
    float:left;
    text-align:right;
    line-height: e(25px, $label-font-size);
    margin-right: e(20px, $label-font-size);
    width: e(80px, $label-font-size);
    
    &.inline {
        margin-left: e(10px, $label-font-size);
        margin-right: e(10px, $label-font-size);
        width:auto;
    }
    
    &.multi-line {
        line-height: e(17px, $label-font-size);
        
        &.centered {
            margin-top: e(-4px, $label-font-size);
        }
    }
    
    &.inline {
        margin-left: e(10px, $label-font-size);
        width:auto;
    }
}

.field_with_errors label, label.error {
    @include error-text
}

.disabled.field_with_errors label {
    color: $text-color;
    font-weight: normal;
}

div.input {
    @include clearfix;
    &:after {
        clear:left;
    }
    margin:e(20px) 0;
    
    .token-input-list {
        float:left;
        clear:none;
    }
}

$input-font-size: $small-text-size;
input, select, textarea {
    @include small-text;
}

input, textarea {
    padding: 0 e(5px, $input-font-size);
}

input {
    height: e(25px, $input-font-size);
    float:left;
    &:disabled {
        background-color: $color-e2;
    }
}

/* Tables */

table {
    border-collapse:collapse;
    text-align:left;
}

.table-container {
    float:left;
    @include rounded-corners(5px);
    border:1px solid $color-e1;
    height: e(100px);
    @include clearfix;
    margin-bottom:e(5px);
    min-width: e(250px);
    overflow-y:auto;
    overflow-x:hidden;
}

td, th {
    @include small-text;
    line-height: e(20px, $small-text-size);
    padding: 0 e(10px, $small-text-size);
    cursor:default;
}

td {
    .edit-link {
        @include edit-button;
    }
    
    .remove-link {
        @include remove-button;
    }
    
    .zoom-link {
        @include zoom-button;
    }
    
    .add-link {
        @include add-button;
    }
    
    .loading-link {
        @include loading-button;
    }
    
    .grey-ticked-link {
        @include grey-ticked-button;
    }
    
    .ticked-link {
        @include ticked-button;
    }
    
    &.has-button {
        width: e(20px);
        padding: 0 e(5px, $small-text-size);
    }
}

th {
    color: $color-a1;
    
    &.sortable {
        cursor: pointer;
    }
    
    .sort-arrow {
        width:8px;
        height:100%;
        background: url('/images/sort_arrows.png') no-repeat 0 center;
        margin-left: e(10px);
        float:left;
        
        &.desc {
            background-position: -8px center;
        }
    }
    
    span {
        display:block;
        float:left;
    }
}

tr .container {
    height:e(20px, $small-text-size);
    max-width:e(300px, $small-text-size);
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

tr {
    height: e(20px);
    
    @include transition(background-color 200ms);
    
    &.alt {
        background-color: $color-e2;
    }
    
    &.selected {
        background-color:$color-b2;
        
        &:hover {
            background-color:$color-b2;
        }
    }
    
    &:hover {
        background-color: $color-b3;
    }
    
    &.headings:hover {
        background-color: #fff;
    }
}

.table-wrapper {
    .add-container, .select-container {
        clear:left;
        float:right;
    }
    
    .add-link {
        @include add-caption-button;
    }
    
    .select-link {
        @include list-caption-button;
    }
    
    float:left;
}

// Dialogs from tables
.dialog {
    .minor-button {
        width: e(100px, $text-size);
        float:left;
        color:white;
        margin-left: e(20px, $text-size);
    }
    
    .button-container {
        margin: e(20px) auto;
        width: e(260px);
        clear:left;
    }
    
    .errors {
        @include error-text;
    }
    
    .rating {
        cursor: pointer;
    }
    
    .dialog-input.checkbox {
        width:auto;
    }
    
    select.dialog-input {
        float:left;
    }
}

// Stars

.star {
    float:left;
    display:block;
    width:16px;
    height:16px;
    overflow:hidden;
    
    &:before {
        content:url('/images/stars.png');
        @include inline-block;
        font-size:0;
        line-height:0;
     }
    
    &.empty:before {
        margin-top: -16px;
    }
}