/***************************
 ********* Layout **********
 ***************************/

body {
    font-size: $body-font-size;
    font-family: Serif;
}



$wrapper-width: 980px;
#wrapper {
    width: e($wrapper-width);
    margin: 0 auto;
    @include clearfix;
    min-height: 100%;
}

$side-nav-width: 210px;
#side-nav {
    float:left;
    width:e($side-nav-width);
    
    ul {
        @include reset-list;
        margin: e(200px) e(30px) 0 e(20px);
        
        background-color: $teal;
        @include rounded-corners(10px);
        padding: e(20px) e(30px);
        
        li {
            @include small-heading;
            @include inner-link($golden, lighten($golden, 10));
            border-bottom:2px dotted $light-teal;
            margin-bottom:e(20px);
        }
    }
}

#top-nav {
    background-color: $purple;
    @include reset-list;
    @include clearfix;
    padding:0 e(20px) 0 e(40px);
    margin-bottom: e(40px);
    
    li {
        float:left;
        @include small-heading;
        @include inner-link(white, lighten($golden, 25));
        line-height:e(50px);
        margin-right:e(50px);
        
        &.descendant:before { content: '>'; }
        &.current {
            @include inner-link($golden, $golden);
        }
        &.right {
            float:right;
            margin-left:0;
            margin-right:e(10px);
        }
    }
}

#content {
    float:left;
    width: e($wrapper-width - $side-nav-width - 30px);
    margin-left: e(10px);
    margin-top: e(50px);
}


/***************************
 ********* Styles **********
 ***************************/

p {
    @include content-text;
}

a {
    @include link ($teal, $light-teal);
}

a.button, input.submit {
    display:block;
    @include small-heading;
    width: e(80px, $small-heading-size);
    height: e(40px, $small-heading-size);
    line-height: e(40px, $small-heading-size);
    text-align:center;
    @include rounded-corners(8px);
    border:none;
    cursor:pointer;
    color:white;
    background-color: $brown;
    
    &:hover {background-color: lighten($brown, 10);}
    
    
}

.minor-button {
    display:block;
    @include content-text;
    width: e(70px, $content-text-size);
    height: e(25px, $content-text-size);
    line-height: e(25px, $content-text-size);
    text-align:center;
    @include rounded-corners(8px);
    cursor:pointer;
    color:white;
    background-color: #ccc;
    
    &:hover {background-color: #d6d6d6;}
}

.token-input-list, input, textarea {
    @include rounded-corners(3px);
    border: 1px solid $text-field-border-color;
}

/* Labels and inputs */

$label-font-size: $content-text-size;
label {
    @include content-text;
    float:left;
    text-align:right;
    line-height: e(25px, $label-font-size);
    margin-right: e(20px, $label-font-size);
    width: e(80px, $label-font-size);
    
    &.inline {
        margin-left: e(10px, $label-font-size);
        margin-right: e(10px, $label-font-size);
        width:auto;
    }
    
    &.multi-line {
        line-height: e(17px, $label-font-size);
        
        &.centered {
            margin-top: e(-4px, $label-font-size);
        }
    }
    
    &.inline {
        margin-left: e(10px, $label-font-size);
        width:auto;
    }
}

.field_with_errors label, label.error {
    color: $error-text-color;
    font-weight:bold;
}

.disabled.field_with_errors label {
    color: $text-color;
    font-weight: normal;
}

div.input {
    @include clearfix;
    &:after {
        clear:left;
    }
    margin:e(20px) 0;
    
    .token-input-list {
        float:left;
        clear:none;
    }
}

$input-font-size: $smaller-text-size;
input, select, textarea {
    @include smaller-text;
}

input, textarea {
    padding: 0 e(5px, $input-font-size);
}

input {
    height: e(25px, $input-font-size);
    float:left;
    &:disabled {
        background-color: #eee;
    }
}

/* Tables */

table {
    border-collapse:collapse;
}

.table-container {
    float:left;
    @include rounded-corners(5px);
    border:1px solid #ccc;
    height: e(100px);
    @include clearfix;
    margin-bottom:e(5px);
    min-width: e(250px);
    overflow-y:auto;
    overflow-x:hidden;
}

td {
    @include content-text;
    font-size:11px;
    padding: 0 e(20px, 11px);
    cursor:default;
    
    .edit-link {
        @include edit-button;
    }
    
    .remove-link {
        @include remove-button;
    }
    
    &.has-button {
        width: e(22px);
        padding: 0 e(5px, 11px);
    }
}

$table-row-selected-color: lighten($teal,10);
tr {
    height: e(20px);
    
    &.alt {
        background-color: #efefef;
    }
    
    &.selected {
        background-color:$table-row-selected-color;
        
        td {
            color:white;
        }
    }
}

.table-wrapper {
    .add-container {
        clear:left;
        float:right;
    }
    
    .add-link {
        @include add-caption-button;
    }
    
    float:left;
}

// Dialogs from tables
.dialog {
    .minor-button {
        width: e(100px, $content-text-size);
        float:left;
        color:white;
        margin-left: e(20px, $content-text-size);
    }
    
    .button-container {
        margin: e(20px) auto;
        width: e(260px);
        clear:left;
    }
    
    .errors {
        @include reset-list;
        @include content-text;
        color: $error-text-color;
    }
    
    .rating {
        cursor: pointer;
        
        div {
            float:left;
            width:16px;
            height:16px;
            background: url('/images/empty-star.png') no-repeat center;
            
            &.filled {
                background: url('/images/star.png') no-repeat center;
            }
        }
    }
}
