.finances {
    .table-wrapper, .table-container, table {
        width:100%;
        float:none;
    }
    
    .table-container {
        height: e(400px);
    }
    
    td, th {
        &.date {
            width: e(75px, $small-text-size);
            padding-right:0;
        }
        
        &.amount {
            min-width: e(50px, $small-text-size);
            text-align:right;
            padding-left:0;
        }
        
        .edit-order-link {
            @include edit-button;
        }
    }
    
    h2 {
        margin-bottom: e(10px, $heading-size);
    }
    
    #date-controls {
        @include small-text;
        color: $color-f2;
        margin-bottom: e(10px, $small-text-size);
        margin-left: e(5px, $small-text-size);
        
        .from, .to {
            position:relative;
            height: e(15px, $small-text-size);
            cursor: pointer;
            .date-link {
                display:inline-block;
                color: $color-f2;
                padding-right: 11px;
                background: url('/images/sort-arrow-desc.png') no-repeat right 5px;
                border-bottom:1px solid transparent;
                
                &:hover {
                    color: $color-f2;
                    border-bottom: 1px dotted $color-f2;
                }
            }
        }
        
        // Reduce the highlight from the current date
        .ui-state-highlight {
            border: 1px solid #ccc;
            background: #fff;
            color: #1c94c4;
            text-decoration:underline;
            
            &.ui-state-active { border: 1px solid #fbd850; background: #ffffff url(/images/jquery-ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
            &.ui-state-hover { border: 1px solid #fbcb09; background: #fdf5ce url(/images/jquery-ui/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }    
        }
        
        .mid {
            margin:0 3px;
        }
        
        .datepicker {
            position:absolute;
            left:0;
            top:14px;
            font-size: e(16px, $small-text-size);
            z-index: 5;
            display:none;
        }
    }
    
    &.summary {
        
        .summary, .accounts {
            float:left;
        }
        
        #graph {
            height: 400px;
            margin-bottom: e(20px);
        }
        
        #date-controls {
            float:left;
            z-index:10;
            position:relative;
        }
        
        #graph-controls {
            z-index: 10;
            position:relative;
            ul {
                float:right;
                margin-left: e(30px);
            }
            
            li {
                float:left;
                @include small-text;
                text-transform:lowercase;
                margin-left: e(5px, $small-text-size);
                
                &.current {
                    @include inner-link($color-c1, $color-c1);
                    font-weight:bold;
                }
                
                &:before {
                    content: '|';
                    color: $color-a1;
                    margin-right: e(5px, $small-text-size);
                }
                
                &:first-child:before {
                    content:none;
                }
            }
        }
        
        .accounts {
            margin-left: e(50px);
        }
        
        .summary, .accounts {
            table {
                width:auto;
            }
            
            thead {
                border-bottom: 1px solid $color-e2;
                
                th {
                    @include heading;
                    color: $color-c2;
                    text-align:right;
                    padding: e(10px, $heading-size) e(10px, $heading-size);
                }
            }
            
            td {
                text-align:right;
                color: $color-c2;
                @include text;
                padding: e(5px, $text-size) e(10px, $text-size);
                min-width: e(140px, $text-size);
                
                &.amount {
                    text-align:left;
                    color: $color-a1;
                    min-width: auto;
                }

                &.pay {
                    text-align: left;
                    min-width: auto;
                    @include small-text;
                }
            }
        
            .profit td.amount {
                color: $color-c1;
            }
            
            tr:hover {
                background-color:transparent;
            }
        }
    }
    
    &.config {
        .data-list {
            margin-bottom: e(30px);
            
            li {
                @include smaller-text;
                
                .manage-link {
                    text-transform: lowercase;
                    font-size: e(10px, $smaller-text-size);
                    margin-left: e(10px, 10px);
                    visibility:hidden;
                }
                
                &:hover .manage-link {
                    visibility:visible;
                }
                
                &.add a {
                    @include add-caption-button;
                }
            }
        }
        
        .input.string, .input.integer{
            clear: left;
            float:left;
        }

        .note {
            clear:left;
        }
        
        .submit {
            margin-top: e(15px, $heading-size);
            margin-left: e(20px, $heading-size);
        }
    }

    &.loans {
        td.pay-link {
            width: e(100px, $small-text-size);
        }
    }
}