// Site specific mixins

// Button base
@mixin button($base, $height:20px) {
    display:block;
    min-width: 20px;
    width: $height;
    height: $height;
    background: url('/images/admin-icons.png') no-repeat;
    
    background-position: center ($base + ($height - 20px) / 2);
    &:hover {
        background-position: center ($base - 60px + ($height - 20px) / 2);
    }
}

@mixin caption-button($base, $height:20px, $padding: 4px) {
    display:inline-block;
    @include small-text;
    font-size: e($small-text-size, $text-size);
    line-height:$height;
    text-transform: lowercase;
    background: url('/images/admin-icons.png') no-repeat;
    padding-left: 20px + $padding;
    @include link-color;
    
    background-position: left ($base + ($height - 20px) / 2);
    &:hover {
        background-position: left ($base - 60px + ($height - 20px) / 2);
    }
}

// Add button
@mixin add-button($height:20px) {
    @include button(0px, $height);
}
@mixin add-caption-button($height:20px, $padding: 4px) {
    @include caption-button(0px, $height, $padding);
}

// Edit button
@mixin edit-button($height:20px) {
    @include button(-120px, $height);
}
@mixin edit-caption-button($height:20px, $padding: 4px) {
    @include caption-button(-120px, $height, $padding);
}

// Remove button
@mixin remove-button($height:20px) {
    @include button(-240px, $height);
}
@mixin remove-caption-button($height:20px, $padding: 4px) {
    @include caption-button(-240px, $height, $padding);
}

// Zoom button
@mixin zoom-button($height:20px) {
    @include button(-360px, $height);
}
@mixin zoom-caption-button($height:20px, $padding: 4px) {
    @include caption-button(-360px, $height, $padding);
}

// List button
@mixin list-button($height:20px) {
    @include button(-480px, $height);
}
@mixin list-caption-button($height:20px, $padding: 4px) {
    @include caption-button(-480px, $height, $padding);
}

// Page button
@mixin page-button($height:20px) {
    @include button(-600px, $height);
}
@mixin page-caption-button($height:20px, $padding: 4px) {
    @include caption-button(-600px, $height, $padding);
}

// Ticked button
@mixin ticked-button($height:20px) {
    @include button(-720px, $height);
}
@mixin ticked-caption-button($height:20px, $padding: 4px) {
    @include caption-button(-720px, $height, $padding);
}

// Loading button
@mixin loading-button($height:20px) {
    @include button(-840px, $height);
    &:hover {
        background-position: left (-840px + ($height - 20px) / 2);
    }
}
@mixin loading-caption-button($height:20px, $padding: 4px) {
    @include caption-button(-840px, $height, $padding);
    &:hover {
        background-position: left (-840px + ($height - 20px) / 2);
    }
}
