.themes {
    .table {
        float:left;
    }
    
    .table-container {
        height: e(200px);
    }
    
    #theme-table-wrapper {
        .table-container {
            width: e(250px);
            min-width:0;
        }
        
        table {
            width:100%;
        }
        
        tr {
            height:e(50px);
            border-bottom:1px solid $color-e1;
            
            &.alt {
                background-color:transparent;
            }
            
            &.selected {
                background-color:$color-a2;
            }
        }
        
        td {
            padding: e(5px, $small-text-size);
        }
        
        .icon {
            width: e(50px, $small-text-size);
        }
        
        .name {
            max-width: e(250px - 50px - (32px * 2));
            overflow:hidden;
            @include word-wrap;
        }
        
        .has-button {
            width: e(22px, $small-text-size);
        }
    }
}