.themes {
    .table {
        float:left;
    }
    
    .table-container {
        height: e(200px);
    }
    
    $theme-table-width: 220px;
    #theme-table-wrapper {
        .table-container {
            width: e($theme-table-width);
            min-width:0;
        }
        
        table {
            width:100%;
        }
        
        tr {
            height:e(50px);
            border-bottom:1px solid $color-e1;
            
            &.alt {
                background-color:transparent;
            }
            
            &.selected {
                background-color:$color-b2;
                
                &:hover {
                    background-color:$color-b2;
                }
            }
            
            &:hover {
                background-color: $color-b3;
            }
        }
        
        td {
            padding: e(5px, $small-text-size);
        }
        
        .icon {
            width: e(50px, $small-text-size);
        }
        
        .name {
            max-width: e(250px - 50px - (32px * 2));
            overflow:hidden;
            @include word-wrap;
        }
        
        .has-button {
            width: e(22px, $small-text-size);
        }
    }
    
    #theme-product-table-wrapper {
        margin-left: 20px;
        .table-container {
            width: e($content-width - $theme-table-width - 20px - 4px);
            min-width:0;
        }
        
        table {
            width:100%;
        }
        
        .age, .copies {
            padding: 0 e(5px, $small-text-size);
        }
    }
    
    // Dialog box
    
    #select-theme-books {
        @include clearfix;
        height:100%;
        width:100%;
        
        .table-wrapper {
            height: 95%;
            width:100%;
        }
        
        .close-button {
            @include remove-button;
            float:right;
        }
        
        .table-container {
            height:100%;
            width:100%;
        }
        
        table {
            width:100%;
        }
        
        .awards .container, .keywords .container {
            max-width: e(150px, $small-text-size);
        }
        
        td {
            color: $light-text-color;
        }
        
        .in_theme td{
            color: $text-color;
            font-weight:bold;
        }
    }
}