.product {
    #search-box {
        margin-top: e(20px);
        margin-left: e(120px);
    }
    
    label {
        float:left;
        text-align:right;
        margin-right: e(10px, $content-text-size);
        width: e(100px, $content-text-size);
    }
    
    div.input {
        @include clearfix;
        margin-top: e(20px);
        
        .token-input-list {
            float:left;
            clear:none;
        }
    }
}

/*
label {
    float:left;
    text-align:right;
    margin-right:10px;
    margin-left:10px;
    width:170px;
    
    &.inline {
        width:auto;
    }
}

div.input {
    clear:left;
    margin-bottom:20px;
    @include clearfix;
    
    ul input {
        float:none;
    }
    
    input,textarea,ul {
        float:left;
        clear:none;
    }
}

.table-container {
    height: 200px;
    overflow:auto;
    border:1px solid #ccc;
    
    &.themes {
        float:left;
        width:400px;
    }
}

table {    
    border-collapse:collapse;
    width:100%;
}

td {
    border:1px solid grey;
}

tr.alt {
    background-color: #f0f0f0;
}

tr.selected {
    background-color: #aaa;
}

.cover {
    width:100px;
    height:150px;
    text-align:center;
    border:1px solid black;
    
    img {
        max-width:100px;
        max-height:150px;
    }
}

#sidebar {
    position:fixed;
    top:0;
    right:0;
    width:30%;
    height:100%;
    background-color: #ddd;
    border-left:1px solid #aaa;
    display:none;
    word-wrap:break-word;
    overflow:auto;
    
    select {
        width:100%;
    }
    
    ul {
        list-style-type:none;
        padding:10px;
    }
    
    li {
        padding-bottom:5px;
    }
}
*/
