label {
    float:left;
    text-align:right;
    margin-right:10px;
    margin-left:10px;
    width:170px;
    
    &.inline {
        width:auto;
    }
}

div.input {
    clear:left;
    margin-bottom:20px;
    @include clearfix;
    
    ul input {
        float:none;
    }
    
    input,textarea,ul {
        float:left;
        clear:none;
    }
}

table {    
    border-collapse:collapse;
    width:100%;
}

td {
    border:1px solid grey;
}

tr.alt {
    background-color: #f0f0f0;
}

tr.selected {
    background-color: #aaa;
}

.cover {
    width:100px;
    height:150px;
    text-align:center;
    border:1px solid black;
}