$text-color: $color-f1;
$light-text-color: $color-f2;
$error-text-color: $color-c1;
$field-border-color: $color-e1;
$link-color: $color-a1;
$link-hover-color: lighten($color-a1, 10);

$heading-size: 14px;
@mixin heading {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-size: e($heading-size);
    color: $text-color;
    word-spacing: 2px;
}

$alt-heading-size: $heading-size;
@mixin alt-heading {
    @include heading;
}

$small-heading-size: 12px;
@mixin small-heading {
    @include heading;
    font-size: e($small-heading-size);
}

$large-heading-size: 16px;
@mixin large-heading {
    @include heading;
    font-size: e($large-heading-size);
}

$very-large-heading-size: 26px;
@mixin very-large-heading {
    font-family: Copse, sans-serif;
    font-size: e($very-large-heading-size);
    font-weight:normal;
    color: $text-color;
}

$text-size: 13px;
@mixin text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: e($text-size);
    line-height: e(20px, $text-size);
    color: $text-color;
}

$smaller-text-size: 12px;
@mixin smaller-text {
    @include text;
    font-size: e($smaller-text-size);
}

$small-text-size: 11px;
@mixin small-text {
    @include text;
    font-size: e($small-text-size);
}

@mixin error-text {
    @include text;
    color: $error-text-color;
    font-weight:bold;
}

@mixin link-color {
    @include link ($color-a1, lighten($color-a1, 10));
}