$token-font-size: $small-text-size;
$dropdown-font-size: $small-text-size;
$default-width: 400px;
$thin-width:200px;
$dropdown-hover-color: #eee;
$dropdown-hover-text-color: #222;
$token-bg-color: $color-e2;
$token-bg-color-s: $color-e1;
$token-border-color: $color-e1;
$token-border-color-s: $color-e1;
$token-hint-color: $color-e1;
$token-font-color: $text-color;

ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: e($default-width, $token-font-size);
    border: 1px solid $field-border-color;
    cursor: text;
    @include small-text;
    min-height: 1px;
    z-index: 100;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    position:relative;
    
    li, p {
        font-size:1em;
    }
    
    .overlay-hint {
        font-size: 1em;
        position:absolute;
        margin:0;
        display:block;
        top:0;
        right: e(10px, $token-font-size);
        color: $token-hint-color;
        line-height: e(25px, $token-font-size);
    }
    
    &.fill {
        li.token-input-token {
            text-transform:none;
            overflow: hidden;
            //background-color:transparent;
            height: auto !important; 
            height: 1%;
            margin: 0px;
            padding: 3px 5px;
            cursor: default;
            display: block;
            float:none;
            border:none;
        }
        
        li.token-input-token p {
            float: left;
            display: block;
            padding: 0;
            margin: 0;
        }
        
        li.token-input-token span {
            float: right;
            cursor: pointer;
        }
    }
    
    &.thin {
        width: e($thin-width, $token-font-size);
    }
    
    &.dialog {
        z-index:2000;
    }
}

ul.token-input-list li input {
    font-size: e($input-font-size, $token-font-size);
    border: 0;
    width: 100px;
    height: 17px;
    padding: 3px 8px;
    background-color: white;
    margin: 1px 0;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 2px 3px;
    padding: 1px 3px;
    background-color:$token-bg-color;
    color: $token-font-color;
    cursor: default;
    border: 1px solid $token-border-color;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: $token-bg-color-s;
    border: 1px solid $token-border-color-s;
    color: #fff;
}

li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown {
    position: absolute;
    width: e($default-width, $dropdown-font-size);
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    cursor: default;
    @include small-text;
    
    z-index: 111;
    
    li, ul, p {
        font-size:1em;
    }
    
    &.thin {
        width: e($thin-width, $dropdown-font-size);
    }
    
    &.dialog {
        z-index:2010;
    }
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: $dropdown-hover-color;
    color: $dropdown-hover-text-color;
}