<section id="info-sidebar">
  <h2>Book Information</h2>
  
  <div id="product-scroller">
    <div class="left-scroll"></div>
    <div class="right-scroll"></div>
    <div class="product-list-wrapper">
      <div id="product-list"></div>
    </div>
  </div>
  
  <ul id="product-info"></div>
</section>