<ul class="top-nav">
  <li>
    Books
    <ol>
      <li>
        Search
      </li>
    </ol>
  <li>
    Stock-taking
  </li>
</ul>

<input name="product-search" id="product-search" />
<%= link_to "Add a new product", new_admin_product_path, :class => "button" %>