<ul class="top-nav">
  <li>
    Books
    <ol>
      <li>
        <%= link_to "Search", admin_products_path %>
      </li>
      <li>
        <%= link_to "Add", new_admin_product_path %>
      </li>
    </ol>
</ul>

<%= render "fields" %>

<%= render "amazon_sidebar" %>