
// Book Info section
#book-info {
    padding: e(20px);
    max-width: e(600px);
    @include clearfix;
    
    h2 {
        font-size: e(24px);
    }
    
    .cover-section {
        float:left;
        margin: 0 e(30px) e(40px) 0;
        
        .large-cover {
            border:1px solid $book-info-color-1;
            margin-bottom: e(10px);
            
            img {
                max-width: 180px;
                max-height: 270px;
                display:block;
            }
        }
    }

    .base-info {
        float:left;
        margin-bottom: e(40px);
        width: e(325px);
    }
    
    .amazon-link {
        @include small-text;
        margin-bottom:e(5px, $small-text-size);
    }
    
    h3 {
        @include alt-heading;
        margin-top: e(40px, $alt-heading-size);
    }
    
    
    .creators {
        p {
            @include small-text;
            font-style:italic;
            margin-bottom: e(5px, $small-text-size);
        }
        
        a {
            @include alt-heading;
            font-size: e($alt-heading-size, $small-text-size);
            text-transform:none;
            font-style:normal;
            margin-left: e(5px, $alt-heading-size);
            border:none;
            @include link($text-color, lighten($text-color, 20));
        }
    }
    
    .age_year {
        margin-top: e(20px);
        
        p {
            margin-bottom: e(5px, $text-size);
        }
        span {
            font-weight:bold;
            
            &.sidenote {
                font-weight:normal;
                font-style:italic;
                margin-left: e(3px, $text-size);
            }
        }
    }
    
    .details {
        clear:left;
        margin-top: e(40px);
    }
    
    .copies {
        
        td {
            @include smaller-text;
            padding-right: e(10px, $smaller-text-size);
            
            &.cart {
                padding-right:0;
                width: 61px;
            }
        }
        
        .format {
            padding-right: e(40px, $smaller-text-size);
        }
        
        .price {
            width: e(60px, $smaller-text-size);
        }
        
        .rating {
            width: e(85px, $smaller-text-size);
        }
        
        .spacer {
            width: e(80px, $smaller-text-size);
        }
        
        .buy-link {
            float:left;
            @include link-image-replacement(300px, 360px);
        }
        
        .loading {
            float:left;
            @include image-replacement(480px);
        }
        
        .added {
            float:left;
            @include image-replacement(420px);
        }
    }
    
    .amazon-links {
        margin-top: e(20px);
    }
    
    .awards, .collections {
        float:right;
        width: e(150px);
        margin-left: e(60px);
        clear:right;
        
        h3 {
            margin-top: 0;
        }
        
        p {
            @include small-text;
            
            a {
                border:none;
                @include link($book-info-color-2, lighten($book-info-color-2, 20));
            }
        }
    }
    
    .awards {
        margin-bottom: e(20px);
    }
    
    .collections {
        text-transform: lowercase;
        margin-top: e(40px);
        margin-bottom: e(20px);
    }
}