$teal: #459aa2;
$light-teal: #57acb6;
$dark-teal: #326b71;

$brown: #b9603e;
$yellow: #fee074;
$golden: #e6c35a;

$purple: #b989ab; 

$text-color: #595239;
$error-text-color: $brown;
$text-field-border-color: #ccc;