// Site specific mixins

@mixin button($height:22px) {
    display:block;
    min-width: 22px;
    width: $height;
    height: $height;
    background: url('/images/icons.png') no-repeat;
}

$caption-font-size: 12px;
@mixin caption-button($height:22px, $padding: 4px) {
    display:inline-block;
    line-height:$height;
    font-size: e(12px, $content-text-size);
    text-transform: lowercase;
    background: url('/images/icons.png') no-repeat;
    padding-left: 22px + $padding;
    @include link($text-color, lighten($text-color, 10));
}

@mixin add-button($height:22px) {
    @include button($height);
    background-position: center (0px + ($height - 22px) / 2);
    &:hover {
        background-position: center (-40px + ($height - 22px) / 2);
    }
}

@mixin add-caption-button($height:22px, $padding: 4px) {
    @include caption-button($height, $padding);
    background-position: left (0px + ($height - 22px) / 2);
    &:hover {
        background-position: left (-40px + ($height - 22px) / 2);
    }
}

@mixin remove-button($height:22px) {
    @include button($height);
    background-position: center (-80px + ($height - 22px) / 2);
    &:hover {
        background-position: center (-120px + ($height - 22px) / 2);
    }
}

@mixin remove-caption-button($height:22px, $padding: 4px) {
    @include caption-button($height, $padding);
    background-position: left (-80px + ($height - 22px) / 2);
    &:hover {
        background-position: left (-120px + ($height - 22px) / 2);
    }
}

@mixin edit-button($height:22px) {
    @include button($height);
    background-position: center (-160px + ($height - 22px) / 2);
    &:hover {
        background-position: center (-200px + ($height - 22px) / 2);
    }
}

@mixin edit-caption-button($height:22px, $padding: 4px) {
    @include caption-button($height, $padding);
    background-position: left (-160px + ($height - 22px) / 2);
    &:hover {
        background-position: left (-200px + ($height - 22px) / 2);
    }
}