// Shades of Grey
$color-a1: #A9A9A0;
$color-a2: #D2D2CB;     // Light
$color-a3: #605C5A;     // Dark [text]
$color-a4: #fff;        // White
$color-a5: #E1E1E1;     // Very light
$color-a6: #979290;     // Slightly dark

// Yellow
$color-b1: #FDDF71;

// Red
$color-c1: #B85F3E;

// Teal
$color-d1: #4599A0;

// Pink
$color-e1: #B989AB;


// Book info colors
$book-info-color-1: $color-a5;
$book-info-color-2: $color-e1;