/***************************
 ********* Layout **********
 ***************************/

$wrapper-width: 900px;
#wrapper {
    width: e($wrapper-width);
    margin: 0 auto;
    @include clearfix;
    min-height: 100%;
    padding: 0px e(30px);
}

// Header

#page-header {
    text-align:center;
    margin-top: e(50px);
    margin-bottom: e(40px);
    
    .navigation {
        border-top: 1px solid $color-a5;
        border-bottom: 1px solid $color-a5;
        @include clearfix;
        margin: e(20px) 0;
    }
    
    ul {
        float:left;
    }
    
    li {
        float:left;
        @include heading;
        @include inner-link($text-color, lighten($text-color, 20));
        line-height: e(45px, $heading-size);
        margin-left: e(15px, $heading-size);
        
        a {
            border-bottom: none;
        }
        
        &:not(:first-child):before {
            content: "";
            width:6px;
            height:45px;
            float:left;
            margin-right: e(20px, $large-alt-text-size);
            background: url('/images/icons.png') no-repeat 0px -220px;
        }
    }
    
    #shopping-cart-link {
        float:right;
        @include text;
        display:block;
        line-height: e(45px, $text-size);
        @include link;
        border-bottom: none;
        text-transform:lowercase;
        background: url('/images/icons.png') no-repeat 0px 12px;
        padding-left: e(35px, $text-size);
        margin-right: e(20px, $text-size);
        
        &:hover {background-position: 0px -48px;}
        
        &.full {background-position: 0px -108px;}
        &.full:hover {background-position: 0px -168px;}
    }
}

.store #page-header .store, .blog #page-header .blog {
    @include inner-link($color-c1, $color-c1);
}




// Footer

#page-footer {
    clear:both;
    @include rounded-corners (10px);
    background-color: $color-a1;
    @include clearfix;
    padding: e(50px) 0 e(10px) 0;
    margin: e(40px) 0;
    
    h2 {
        @include stitched-heading;
    }
    
    #more-info {
        float:left;
        
        h2 {
            padding-left: 10px;
            padding-right: e(20px, $heading-size);
            width:e(110px - 30px - 10px, $heading-size);
        }
        
        .navigation {
            float:left;
            text-align:right;
            margin-left: e(30px);
            width:e(110px);
            
            li {
                @include text;
                line-height:120%;
                margin-top: e(20px);
                text-transform:lowercase;
                
                a {
                    border-bottom: none;
                    @include link ($color-a4, darken($color-a4, 10));
                    
                    &:before {
                        content: '> ';
                    }
                }
                
                &.selected {
                    @include inner-link (darken($color-a4,10), darken($color-a4,10));
                }
            }
        }
        
        .content {
            margin-left:e(200px);
            background-color:$color-a2;
            width: e(290px);
            height: e(270px);
            @include rounded-corners(5px);
            padding: e(20px) e(30px);
            border:1px dashed #FDDF71;
            position:relative;
            
            .ajax-content {
                position:absolute;
                width: e(290px);
                height: e(270px);
                left: e(30px);
                top: e(20px);
            }
            
            h3 {display:none;}
            
            p {
                @include small-alt-text;
                margin-top: e(10px, $small-alt-text-size);
                margin-bottom: e(20px, $small-alt-text-size);
            }
        }
        
        #designed-by {
            float:right;
            @include inner-link ($color-a2, lighten($color-a2, 10));
            
            p {
                color: $color-a2;
                @include smaller-text;
                text-transform:lowercase;
                margin-top: e(10px, $smaller-text-size);
            }
        }
    }
    
    #subscribe, #contact {
        float:right;
        clear:right;
        width:e(275px);
        
        margin-top: e(50px);
        
        h2 {
            width:e(180px - 30px - 11px, $heading-size);
            margin-bottom: e(10px, $heading-size);
            margin-left: e(-5px, $heading-size);
        }
        
        p {
            max-width: e(200px, $text-size);
            color: white;
            margin-bottom: e(10px, $text-size);
            
            @include inner-link ($color-a4, darken($color-a4, 10));
        }
        
        #subscribe-email {
            height:30px;
            @include small-text;
            line-height: e(30px, $small-text-size);
            border:1px solid $color-a5;
            @include rounded-corners(5px);
            width:e(155px, $small-text-size);
            padding:0 e(10px, $small-text-size);
            float:left;
        }
        
        #subscribe-email-submit {
            margin-left: e(20px);
            display:block;
            float:left;
        }
    }
}


/***************************
 ********* Styles **********
 ***************************/

p {
    @include text;
    margin-bottom: e(20px, $text-size);
}

a {
    @include link;
    border-bottom: 1px dotted;
    @include transition(color 300ms ease);
}

h2 {
    @include large-heading;
    margin-bottom: e(10px, $large-heading-size);
    margin-left: e(-1px);
}

h3 {
    @include heading;
    margin-bottom: e(20px, $heading-size);
}

// Image alt text styling
img {
    @include small-text;
    color:inherit;
}

// Table
table {
    border-collapse:collapse;
    text-align:left;
}

// Obfuscate email addresses from parsers with invisible spans of text
.email_obf span {
    display:none;
}

// Cover image
.cover-container {
    width:100px;
    height:150px;
    
    .blank-cover {
        width:100px;
        height:150px;
        background-color: $color-a6;
        
        a {
            width:100%;
            height:100%;
            display:block;
            border-bottom:none;
            position:relative;
            
            &:hover p {
                color: $color-a2;
            }
        }
        
        p {
            @include small-text;
            text-align:center;
            line-height:e(16px, $small-text-size);
            @include word-wrap;
            color: $color-a4;
            position:absolute;
            width:84px;
            left:8px;
            margin:0;
            overflow:hidden;
            text-overflow: ellipsis;
            whitespace: nowrap;
            
            &.title {
                top:15px;
                max-height:88px;
            }
            
            &.author {
                bottom:15px;
                max-height:32px;
            }
        }
    }
}

.cover {
    @include box-shadow(3px -1px 5px $color-a2);
    border:1px solid $color-a5;
    
    img {
        max-width:100px;
        max-height:150px;
        display:block;
    }
}

// Stars

.star {
    float:left;
    display:block;
    width:16px;
    height:16px;
    overflow:hidden;
    
    &:before {
        content:url('/images/stars.png');
        @include inline-block;
        font-size:0;
        line-height:0;
    }
    
    &.empty:before {
        margin-top: -16px;
    }
}

// Buttons

.close-button, .remove-link {
    @include small-text;
    @include link;
    @include link-image-replacement(540px, 600px);
}

.close-button {
    position:absolute;
    top: 5px;
    right: 2px;
    z-index:10;
    
    &:focus {
        outline:none;
    }
}

.button {
    @include button-text;
    @include inline-block;
    line-height: e(30px, $button-text-size);
    height: e(30px, $button-text-size);
    padding: 0 e(15px, $button-text-size);
    @include rounded-corners(5px);
    @include link ($color-a4, $color-a4);
    color: $color-a4;
    border:none;
    @include transition (background-color 200ms ease);
    background-color: $color-a1;
    &:hover {background-color: lighten($color-a1,10)};
    
    &.major {
        background-color: $color-e1;
        &:hover {background-color: lighten($color-e1,10)};
    }
}

// Dialogs
.ui-dialog {
    position:absolute;
    overflow: hidden;
}
.ui-dialog-titlebar {
    display:none;
}

.ui-widget-overlay {
    background: #666;
    opacity:0.6;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

#notice-dialog {
    text-align: center;
    padding: e(20px);
    
    .message {
        margin-top: e(20px);
    }
}

// Error messages
.error {
    color: $error-color;
    font-weight:bold;
}