// Widget overlay opacity
.ui-widget-overlay {
    background: transparent url('/images/blank.gif');
}

.close-button, .remove-link {
    height:20px;
    width:30px;
    padding:0;
    margin:0;
    overflow:hidden;
    text-indent:-9000px;
    background:url('/images/icons.png') no-repeat 0 -540px;
    
    &:hover {
        background-position: 0 -600px;
    }
}