@mixin stitched-heading {
    @include heading;
    color: $color-b1;
    line-height: 28px;
    padding: 2px 11px 0 e(30px, $heading-size);
    background: url('/images/stitched-heading.gif') repeat-x 0px -30px;
    @include inline-block;
    position:relative;
    
    &:before {
        width:10px;
        height:30px;
        left:0;
        top:0;
        position:absolute;
        content: '';
        background: url('/images/stitched-heading.gif') no-repeat 0px 0px;
    }
    
    &:after {
        width:11px;
        height:30px;
        right:0;
        top:0;
        position:absolute;
        content: '';
        background: url('/images/stitched-heading.gif') no-repeat 0px -60px;
    }
}

@mixin image-replacement ($pos: 0, $width: 30px, $height: 20px, $url: '/images/icons.png') {
    display:block;
    width:$width;
    height:$height;
    white-space:nowrap;
    overflow:hidden;
    
    &:before {
        content:url($url);
        @include inline-block;
        font-size:0;
        line-height:0;
        margin-top: -1 * $pos;
    }
}

@mixin link-image-replacement ($pos: 0, $hover-pos: 0, $width: 30px, $height: 20px, $url: '/images/icons.png') {
    @include image-replacement($pos, $width, $height, $url);
    border-bottom:none;
    
    &:hover:before {
        margin-top: -1 * $hover-pos;
    }
}