@mixin stitched-heading {
    @include heading;
    color: $color-b1;
    line-height: 28px;
    padding: 2px 11px 0 e(30px, $heading-size);
    background: url('/images/stitched-heading.gif') repeat-x 0px -30px;
    display:-moz-inline-box;
    display:inline-block;
    position:relative;
    
    &:before {
        width:10px;
        height:30px;
        left:0;
        top:0;
        position:absolute;
        content: '';
        background: url('/images/stitched-heading.gif') no-repeat 0px 0px;
    }
    
    &:after {
        width:11px;
        height:30px;
        right:0;
        top:0;
        position:absolute;
        content: '';
        background: url('/images/stitched-heading.gif') no-repeat 0px -60px;
    }
}