.store {
    #sidebar {
        float:right;
        width:e(260px);
        
        h3 {
            @include alt-text;
            margin-bottom: e(10px, $alt-text-size);
            font-weight:normal;
            color: $color-c1;
        }
        
        .feature {
            margin-top: e(10px);
            margin-bottom: e(40px);
        }
    }
    
    #products {
        @include clearfix;
        width: e((100px + 20px) * 5 + 10px);
        
        .cover-container {
            margin-right: e(20px);
            margin-bottom: e(20px);
            float:left;
        }
    }
    
    .back-button {
        float:right;
        clear:both;
        @include text;
        @include link;
        text-transform:lowercase;
        margin: e(20px, $text-size);
        
        &.left {
            float:left;
            margin-left: 0;
        }
    }
    
    
    .dialog {
        background-color: #fff;
        overflow:hidden;
        @include rounded-corners(10px);
        position:relative;
        margin-bottom: e(30px);
        padding: e(10px);
        @include box-shadow(3px 3px 10px -3px #333);
    }
    
    p.loading-large {
        text-align:center;
        line-height: 20px;
        width:100%;
        position:absolute;
        left:0;
        top:40%;
    }
    
    // Shopping Cart Section
    #shopping-cart {
        padding: e(20px);
        @include clearfix;
        width: e(560px);
        position:relative;
        overflow:hidden;
        
        .js-remove {
            position:absolute;
            left:0;
            top:0;
            padding: e(20px);
        }
        
        .ajax-content {
            @include clearfix;
        }
        
        h2 {
            text-transform:uppercase;
            float:left;
            margin-bottom: e(20px, $very-large-heading-size);
        }
        
        .order-button {
            float:right;
            margin-right: e(10px, $smaller-heading-size);
        }
        
        #empty-button {
            float: right;
            margin-right: e(20px, $smaller-heading-size);
        }
        
        .container {
            float:left;
            clear:both;
        }
        
        p.info {
            clear:both;
            @include small-text;
            color: $color-a6;
        }
        
        table {
            border-top: 1px solid $color-a5;
            width:100%;
            
            p { margin: 0; }
            .title { font-weight: bold; }
            .creators { font-style: italic; }
            .format { float:left; }
            .rating {
                float:left;
                margin-left: e(30px, $text-size);
            }
            div.number {
                float:right;
                
                p {
                    float:left;
                }
                
                .edit-link {
                    @include small-text;
                    @include link;
                    @include link-image-replacement(660px, 720px);
                    float:left;
                }
                
                p.sidenote {
                    float:left;
                    clear:left;
                    font-size: e(10px);
                    line-height: 120%;
                    text-transform: lowercase;
                    margin-top: e(5px, 10px);
                }
                
                input {
                    width: e(25px, $text-size);
                    margin:0;
                    float:left;
                }
            }
        }
        
        tr {
            border-bottom: 1px solid $color-a5;
            
            &.unavailable {
                background-color: $color-a5;
                border-top: 1px solid $color-a6;
                border-bottom: 1px solid $color-a6;
            }
        }
        
        td {
            padding:e(10px);
            
            &.tiny-cover {
                img {
                    display:block;
                    max-height:60px;
                    max-width:40px;
                }
                
                padding-left:0;
            }
            
            &.copy {
                width: e(300px);
            }
            
            &.price {
                vertical-align: top;
                width: e(120px);
                padding-right: 0;
                
                .error {
                    margin-top: e(10px, $text-size);
                }
                
                .product-link {
                    @include small-text;
                    text-transform:lowercase;
                    @include link;
                }
            }
            
            &.remove {
                vertical-align: top;
                padding-right:0;
                padding-left:0;
            }
        }
        
        .total {
            float:right;
            font-weight: bold;
            text-align:center;
            margin-top: e(20px);
            margin-bottom: e(10px);
            
            span {
                font-weight:normal;
                margin-left: e(3px, $text-size);
            }
            
            .sidenote {
                @include small-text;
                font-size: e($small-text-size, $text-size);
                color: $color-a6;
                display:block;
            }
        }
    }
}