.store {
    &.main #wrapper {
        min-height: e(920px);
    }

    #filters {
        position:absolute;
        width: e(170px);
        top: e(80px);
        left:e(40px);
        text-transform: lowercase;
        
        input.text {
            border:1px solid $color-a5;
            @include rounded-corners(3px);
            @include smaller-text;
            padding: 2px 5px;
            height: e(16px, $smaller-text-size);
            @include placeholder-color($color-a6);
        }
        
        #search-submit {
            float:left;
            margin-left: 5px;
        }
        
        .submit {
            width: e(28px, $smaller-text-size);
            border:none;
            background-color: $color-a2;
            @include rounded-corners(5px);
            @include smaller-text;
            text-transform:lowercase;
            height: e(22px, $smaller-text-size);
            color: $color-a4;
            cursor:pointer;
            
            &:hover {
                background-color: lighten($color-a2, 5);
            }
        }
        
        .search {
            margin-bottom: e(30px);
            @include clearfix;
            
            h3 {
                margin-bottom: e(8px, $heading-size);
            }
            
            .text {
                width: e(80px, $smaller-text-size);
                float:left;
            }
        }
        
        ul {
            margin-bottom: e(20px);
            
            li {
                @include smaller-text;
                
                .submit, .text {
                    font-size: 1em;
                }
            }
            a {
                @include link ($text-color, lighten($text-color, 20));
                border:none;
            }
            .current {
                font-weight:bold;
                color: $color-c1;
            }
            a.current {
                @include link ($color-c1, $color-c1);
            }
        }
        
        .age {
            .text {
                width: e(18px, $smaller-text-size);
            }
        }
        
        .age, .price {
            .text {
                padding: 2px 3px;
            }
            
            .submit {
                width: e(24px, $smaller-text-size);
                margin-left: e(5px, $smaller-text-size);
            }
        }
        
        .rating {
            clear:left;
            margin-left: -2px;
            padding: e(3px) 0;
            @include clearfix;
        }
        
        a:hover .star.grey:before {margin-top: -16px;}
        a.current .star.grey:before {margin-top: 0px;}
        
        .custom {
            margin-top: e(5px, $smaller-text-size);
        }
        
        .price {
            .text {
                width: e(24px, $smaller-text-size);
            }
            
            .to {
                margin-left: 2px;
            }
        }
    }
    
    #collections {
        position:absolute;
        top: e(80px);
        width: e(130px);
        right: e(40px);
        
        ul {
            margin:0;
            border-bottom: 1px solid $color-a7;
        }
        
        li {
            border-bottom: 1px solid $color-a7;
            @include small-heading;
            padding: e(7px, $small-heading-size) 0;
            clear:left;
            @include clearfix;
        }
        
        a {
            border:none;
            @include link($color-a8, lighten($color-a8, 20));
            display:block;
            padding: e(6px, $small-heading-size) e(8px, $small-heading-size);
            margin-left: e(-10px, $small-heading-size);
            float:left;
        }
        
        a.current {
            background: $color-g1 url('/images/brown-texture.jpg');
            color: $color-a4;
        }
    }
    
    
    $products-width: (100px + 20px) * 4 + 10px;
    
    .applied-filters {
        @include clearfix;
        border-top: 1px solid $color-a7;
        border-bottom: 1px solid $color-a7;
        width: e($products-width - 30px);
        padding: e(7px) 0;
        text-transform:lowercase;
        font-weight:bold;
        margin-bottom: e(20px);
        color: $color-a8;
        float:left;
        
        a {
            @include link($color-f1, lighten($color-f1, 20));
            border:none;
        }
        
        li {
            float:left;
            @include text;
            margin-right: e(5px, $text-size);
        }
        
        li.filter:before {
            content: ">";
            margin-right: e(5px, $text-size);
        }
        
        .clear-link {
            @include small-text;
            @include link;
            @include link-image-replacement(540px, 600px);
            float:right;
        }
    }
    
    .sort {
        margin-top: e(60px, $text-size);
        margin-bottom: e(20px, $text-size);
        
        span {
            font-weight:bold;
            color: $color-a8;
        }
        
        a {
            @include link($color-f1, lighten($color-f1, 20));
            border:none;
        }
        
        .current {
            font-weight:bold;
        }
        
        .asc {
            padding-right: 12px;
            background: url('/images/sort-arrow-desc.png') no-repeat right center;
        }
        
        .desc {
            padding-right: 12px;
            background: url('/images/sort-arrow-asc.png') no-repeat right center;
        }
    }

    #products {
        @include clearfix;
        width: e($products-width);
        margin: 0 auto;
        
        .covers {
            position:relative;
            @include clearfix;
        }
        
        .row {
            @include clearfix;
            float:left;
        }
        
        .ajax-content {
            @include clearfix;
        }
        
        .js-remove {
            position:absolute;
            left:0;
            top:0;
        }
        
        .cover-container {
            margin-right: e(20px);
            margin-bottom: e(20px);
            height: e(150px);
            float:left;
            position:relative;
            
            .cover {
                position:absolute;
                bottom:0;
                left:0; 
            }
        }
        
        .pagination {
            clear:both;
            float:right;
            margin-right: e(20px, $text-size);
            @include text;
            color: $color-a8;
            text-transform:lowercase;
            letter-spacing: 1px;
            
            span {
                margin-left: e(5px, $text-size);
            }
            
            .current, .page-word {
                font-weight:bold;
            }
            
            a {
                @include link($color-f1, lighten($color-f1, 20));
                border-bottom: none;
                font-weight:normal;
            }
        }
    }
    
    .back-button {
        float:right;
        clear:both;
        @include text;
        @include link;
        text-transform:lowercase;
        margin: e(20px, $text-size);
        
        &.left {
            float:left;
            margin-left: 0;
        }
    }
    
    
    .dialog {
        background-color: #fff;
        overflow:hidden;
        @include rounded-corners(10px);
        position:relative;
        margin-bottom: e(30px);
        padding: e(10px);
        @include box-shadow(3px 3px 10px -3px #333);
        border: 1px solid $color-a5;
    }
    
    p.loading-large {
        text-align:center;
        line-height: 20px;
        width:100%;
        position:absolute;
        left:0;
        top:40%;
    }
    
    // Shopping Cart Section
    #shopping-cart {
        padding: e(20px);
        @include clearfix;
        width: e(560px);
        position:relative;
        overflow:hidden;
        
        .js-remove {
            position:absolute;
            left:0;
            top:0;
            padding: e(20px);
        }
        
        .ajax-content {
            @include clearfix;
        }
        
        h2 {
            float:left;
            margin-bottom: e(20px, $large-heading-size);
        }
        
        .order-button {
            float:right;
            margin-right: e(10px, $button-text-size);
        }
        
        #empty-button {
            float: right;
            margin-right: e(20px, $button-text-size);
        }
        
        .container {
            float:left;
            clear:both;
        }
        
        p.info {
            clear:both;
            @include small-text;
            color: $color-a6;
        }
        
        table {
            border-top: 1px solid $color-a5;
            width:100%;
            
            p { margin: 0; }
            .title { font-weight: bold; }
            .creators { font-style: italic; }
            .format { float:left; }
            .rating {
                float:left;
                margin-left: e(30px, $text-size);
            }
            div.number {
                float:right;
                
                p {
                    float:left;
                }
                
                .edit-link {
                    @include small-text;
                    @include link;
                    @include link-image-replacement(660px, 720px);
                    float:left;
                }
                
                p.sidenote {
                    float:left;
                    clear:left;
                    font-size: e(10px);
                    line-height: 120%;
                    text-transform: lowercase;
                    margin-top: e(5px, 10px);
                }
                
                input {
                    width: e(25px, $text-size);
                    margin:0;
                    float:left;
                }
            }
        }
        
        tr {
            border-bottom: 1px solid $color-a5;
            
            &.unavailable {
                background-color: $color-a5;
                border-top: 1px solid $color-a6;
                border-bottom: 1px solid $color-a6;
            }
        }
        
        td {
            padding:e(10px);
            
            &.tiny-cover {
                img {
                    display:block;
                    max-height:60px;
                    max-width:40px;
                }
                
                padding-left:0;
            }
            
            &.copy {
                width: e(300px);
            }
            
            &.price {
                vertical-align: top;
                width: e(120px);
                padding-right: 0;
                
                .error {
                    margin-top: e(10px, $text-size);
                }
                
                .product-link {
                    @include small-text;
                    text-transform:lowercase;
                    @include link;
                }
            }
            
            &.remove {
                vertical-align: top;
                padding-right:0;
                padding-left:0;
            }
        }
        
        .total {
            float:right;
            font-weight: bold;
            text-align:center;
            margin-top: e(20px);
            margin-bottom: e(10px);
            
            span {
                font-weight:normal;
                margin-left: e(3px, $text-size);
            }
            
            .sidenote {
                @include small-text;
                font-size: e($small-text-size, $text-size);
                color: $color-a6;
                display:block;
            }
        }
    }
    
    #hover-info {
        position:absolute;
        background-color: $color-a4;
        width: e(300px);
        border: 1px solid $color-a5;
        padding: e(10px) e(15px);
        z-index:20;
        @include clearfix;
        @include box-shadow(3px 3px 10px -3px #999);
        
        h3 {
            text-transform: none;
            color: $color-c1;
            font-size: e(16px);
            margin-bottom: e(5px, 16px);
        }
        
        .creators {
            @include alt-text;
            font-size: e(11px);
        }
        
        .title-box {
            float:left;
            max-width: e(300px - 60px);
        }
        
        .age {
            @include alt-heading;
            font-size: e(12px);
            float:right;
            margin:0;
        }
        
        .amount {
            font-weight: bold
        }
        
        .description, .used, .new {
            clear:both;
            @include small-text;
            line-height: 130%;
        }
        
        .description {
            margin-bottom: e(20px, $small-text-size);
        }
        
        .used, .new {
            margin-bottom: e(5px, $small-text-size);
            float:left;
        }
        
        .product-link {
            @include small-alt-text;
            float:right;
            @include link;
        }
    }
}