.store {
    #filters {
        float:left;
        width: e(160px);
        margin-top: e(10px);
        padding-left:e(15px);
        text-transform: lowercase;
        
        label {
            @include smaller-text;
            font-weight:bold;
            line-height: e(20px, $smaller-text-size);
            clear:both;
        }
        
        ul, .container {
            border-top: 1px solid $color-a5;
            padding-top: e(5px);
            margin-bottom: e(20px);
            @include clearfix;
        }
        
        
        .search, .age, .price {
            input {
                border:1px solid $color-a5;
                @include rounded-corners(3px);
                @include smaller-text;
                padding: 2px 5px;
                height: e(16px, $smaller-text-size);
            }
        }
        
        li, .container {
            line-height: e(20px, $smaller-text-size);
            clear:left;
            
            input {
                float:left;
            }
            
            span {
                @include smaller-text;
                float:left;
                margin-left: e(5px, $smaller-text-size);
            }
        }
        
        .age {
            input {
                width: e(15px, $smaller-text-size);
                margin-right: e(10px, $smaller-text-size);
            }
            
            span {
                margin-right: e(10px, $smaller-text-size);
                margin-left:0;
                line-height: e(22px, $smaller-text-size);
            }
        }
        
        .condition {
            margin-bottom: e(10px);
            float:left;
            
            .star {
                margin: 0;
            }
            
            .rating {
                display:block;
                clear:left;
                margin-left: e(-1px, $smaller-text-size);
            }
        }
        
        .price {
            text-transform: none;
            
            input {
                width: e(25px, $smaller-text-size);
                margin-right: e(5px, $smaller-text-size);
            }
            
            .range {
                margin-top: e(5px);
                margin-bottom: e(10px);
                @include clearfix;
                padding-left: e(10px);
                span {
                    line-height: e(24px, $smaller-text-size);
                    margin-right: e(5px, $smaller-text-size);
                    margin-left:0;
                }
            }
        }
        
        .submit-container {
            text-align:center;
            margin-bottom: e(30px);
        }
    }
    
    #collections {
        float:right;
        margin-top: e(10px);
        width: e(180px);
        
        h3 {
            text-align: right;
            margin-bottom: e(10px, $heading-size);
        }
        
        h4 {
            @include smaller-text;
            font-weight:bold;
            line-height: e(20px, $smaller-text-size);
            clear:both;
        }
        
        .list {
            background-color: $color-a7;
            min-height: e(700px);
            padding: e(20px);
            padding-right: e(10px);
            text-transform:lowercase;
        }
        
        ul {
            max-height: e(120px);
            padding-right: e(10px);
            overflow: auto;
            border-top: 1px solid $color-a5;
            padding-top: e(5px);
            margin-bottom: e(20px);
            @include clearfix;
            
            &.primary {
                padding-top: 0;
                border: none;
            }
        }
        
        li {
            @include smaller-text;
            margin-bottom: e(10px, $smaller-text-size);
            a {
                @include link ($text-color, lighten($text-color, 20));
                border:none;
                
                &.current {
                    font-weight: bold;
                }
            }
        }
    }
    
    #products {
        @include clearfix;
        width: e((100px + 20px) * 4 + 10px);
        margin-left: e(40px);
        margin-top: e(-20px);
        padding-top: e(20px);
        float:left;
        
        .covers {
            position:relative;
            @include clearfix;
        }
        
        .ajax-content {
            @include clearfix;
        }
        
        .js-remove {
            position:absolute;
            left:0;
            top:0;
        }
        
        .cover-container {
            margin-right: e(20px);
            margin-bottom: e(20px);
            float:left;
        }
        
        .pagination {
            clear:both;
            float:right;
        }
        
        .sort {
            color: $color-a6;
            a {
                @include link($color-a6, lighten($color-a6, 20));
                border:none;
            }
            
            a.current {
                @include link($color-d1, $color-d1);
            }
        }
    }
    
    .back-button {
        float:right;
        clear:both;
        @include text;
        @include link;
        text-transform:lowercase;
        margin: e(20px, $text-size);
        
        &.left {
            float:left;
            margin-left: 0;
        }
    }
    
    
    .dialog {
        background-color: #fff;
        overflow:hidden;
        @include rounded-corners(10px);
        position:relative;
        margin-bottom: e(30px);
        padding: e(10px);
        @include box-shadow(3px 3px 10px -3px #333);
        border: 1px solid $color-a5;
    }
    
    p.loading-large {
        text-align:center;
        line-height: 20px;
        width:100%;
        position:absolute;
        left:0;
        top:40%;
    }
    
    // Shopping Cart Section
    #shopping-cart {
        padding: e(20px);
        @include clearfix;
        width: e(560px);
        position:relative;
        overflow:hidden;
        
        .js-remove {
            position:absolute;
            left:0;
            top:0;
            padding: e(20px);
        }
        
        .ajax-content {
            @include clearfix;
        }
        
        h2 {
            float:left;
            margin-bottom: e(20px, $large-heading-size);
        }
        
        .order-button {
            float:right;
            margin-right: e(10px, $button-text-size);
        }
        
        #empty-button {
            float: right;
            margin-right: e(20px, $button-text-size);
        }
        
        .container {
            float:left;
            clear:both;
        }
        
        p.info {
            clear:both;
            @include small-text;
            color: $color-a6;
        }
        
        table {
            border-top: 1px solid $color-a5;
            width:100%;
            
            p { margin: 0; }
            .title { font-weight: bold; }
            .creators { font-style: italic; }
            .format { float:left; }
            .rating {
                float:left;
                margin-left: e(30px, $text-size);
            }
            div.number {
                float:right;
                
                p {
                    float:left;
                }
                
                .edit-link {
                    @include small-text;
                    @include link;
                    @include link-image-replacement(660px, 720px);
                    float:left;
                }
                
                p.sidenote {
                    float:left;
                    clear:left;
                    font-size: e(10px);
                    line-height: 120%;
                    text-transform: lowercase;
                    margin-top: e(5px, 10px);
                }
                
                input {
                    width: e(25px, $text-size);
                    margin:0;
                    float:left;
                }
            }
        }
        
        tr {
            border-bottom: 1px solid $color-a5;
            
            &.unavailable {
                background-color: $color-a5;
                border-top: 1px solid $color-a6;
                border-bottom: 1px solid $color-a6;
            }
        }
        
        td {
            padding:e(10px);
            
            &.tiny-cover {
                img {
                    display:block;
                    max-height:60px;
                    max-width:40px;
                }
                
                padding-left:0;
            }
            
            &.copy {
                width: e(300px);
            }
            
            &.price {
                vertical-align: top;
                width: e(120px);
                padding-right: 0;
                
                .error {
                    margin-top: e(10px, $text-size);
                }
                
                .product-link {
                    @include small-text;
                    text-transform:lowercase;
                    @include link;
                }
            }
            
            &.remove {
                vertical-align: top;
                padding-right:0;
                padding-left:0;
            }
        }
        
        .total {
            float:right;
            font-weight: bold;
            text-align:center;
            margin-top: e(20px);
            margin-bottom: e(10px);
            
            span {
                font-weight:normal;
                margin-left: e(3px, $text-size);
            }
            
            .sidenote {
                @include small-text;
                font-size: e($small-text-size, $text-size);
                color: $color-a6;
                display:block;
            }
        }
    }
    
    #hover-info {
        position:absolute;
        background-color: $color-a4;
        width: e(300px);
        border: 1px solid $color-a5;
        padding: e(10px) e(15px);
        @include clearfix;
        @include box-shadow(3px 3px 10px -3px #999);
        
        h3 {
            text-transform: none;
            color: $color-c1;
            font-size: e(16px);
            margin-bottom: e(5px, 16px);
        }
        
        .creators {
            @include alt-text;
            font-size: e(11px);
        }
        
        .title-box {
            float:left;
            max-width: e(300px - 60px);
        }
        
        .age {
            @include alt-heading;
            font-size: e(12px);
            float:right;
            margin:0;
        }
        
        .amount {
            font-weight: bold
        }
        
        .description, .used, .new {
            clear:both;
            @include small-text;
            line-height: 130%;
        }
        
        .description {
            margin-bottom: e(20px, $small-text-size);
        }
        
        .used, .new {
            margin-bottom: e(5px, $small-text-size);
            float:left;
        }
        
        .product-link {
            @include small-alt-text;
            float:right;
            @include link;
        }
    }
}