$text-color: $color-a3;
$link-color: $color-d1;
$link-hover-color: lighten($color-d1, 20);
$error-color: $color-c1;

$heading-size: 17px;
@mixin heading {
    font-family: Copse, sans-serif;
    font-weight:normal;
    text-transform: lowercase;
    font-size: e($heading-size);
    color: $text-color;
}

$button-text-size: 13px;
@mixin button-text {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    color: $text-color;
    font-size: e($button-text-size);
}

$alt-heading-size: 14px;
@mixin alt-heading {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    color: $text-color;
    font-size: e($alt-heading-size);
}

$large-heading-size: 26px;
@mixin large-heading {
    font-family: Copse, sans-serif;
    font-size: e($large-heading-size);
    font-weight:normal;
    color: $text-color;
}

$text-size: 13px;
@mixin text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: e($text-size);
    line-height: 150%;
    color: $text-color;
}

$smaller-text-size: 12px;
@mixin smaller-text {
    @include text;
    font-size: e($smaller-text-size);
}

$small-text-size: 11px;
@mixin small-text {
    @include text;
    font-size: e($small-text-size);
}

$alt-text-size: 15px;
@mixin alt-text {
    font-family: Arvo, Arial, Helvetica, sans-serif;
    font-size: e($alt-text-size);
    line-height: 150%;
    color: $text-color;
}

$small-alt-text-size: 12px;
@mixin small-alt-text {
    @include alt-text;
    font-size: e($small-alt-text-size);
}

$large-alt-text-size: 17px;
@mixin large-alt-text {
    @include alt-text;
    font-size: e($large-alt-text-size);
}