$text-color: $color-a3;
$link-color: $color-d1;
$link-hover-color: lighten($color-d1, 20);

$heading-size: 14px;
@mixin heading {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-size: e($heading-size);
    color: $text-color;
}

$smaller-heading-size: 13px;
@mixin smaller-heading {
    @include heading;
    font-size: e($smaller-heading-size);
}

$very-large-heading-size: 24px;
@mixin very-large-heading {
    font-family: Quicksand, sans-serif;
    font-size: e($very-large-heading-size);
    color: $text-color;
}

$text-size: 13px;
@mixin text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: e($text-size);
    line-height: 150%;
    color: $text-color;
}

$smaller-text-size: 12px;
@mixin smaller-text {
    @include text;
    font-size: e($smaller-text-size);
}

$small-text-size: 11px;
@mixin small-text {
    @include text;
    font-size: e($small-text-size);
}

$alt-text-size: 15px;
@mixin alt-text {
    font-family: Arvo, Arial, Helvetica, sans-serif;
    font-size: e($alt-text-size);
    line-height: 150%;
    color: $text-color;
}

$small-alt-text-size: 12px;
@mixin small-alt-text {
    @include alt-text;
    font-size: e($small-alt-text-size);
}

$large-alt-text-size: 17px;
@mixin large-alt-text {
    @include alt-text;
    font-size: e($large-alt-text-size);
}