<!DOCTYPE html>
<html>
  <head>
    <title>Story Revolution</title>
  </head>
  
  <body>
    <div id="wrapper">
      <div class="ajax-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>